<div id="preloder">
	<div class="loader"></div>
</div>

<!-- Header section start -->
<header class="header-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div class="site-logo">
					<h2><a href="/">Quote</a></h2>
					<p>"Winners begin Early"</p>
				</div>
			</div>
			<!-- <div class="col-md-8 text-md-right header-buttons"> -->
				<!-- <a href="/download_resume" target="_blank" class="site-btn">Download CV</a> -->
				<!-- <a href="#" class="site-btn">Discover me</a> -->
			<!-- </div> -->
		</div>
	</div>
</header>
<!-- Header section end -->

<!-- Hero section start -->
<section class="hero-section spad">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-10 offset-xl-1">
				<div class="row">
					<div class="col-lg-6">
						<div class="hero-text">
							<h2>Neetesh gupta</h2>
							<p>
								I am a Senior Web Developer with 4 years experience in IT and I am working Ruby on Rails around 3 years. Over the last 4 years, I have developed wide ranges of website/application based on Ruby on rails along with Devops technology.
							</p>
						</div>
						
						<div class="hero-info">
							<h2>General Info</h2>
							<ul>
								<li><span>E-mail/Skype</span>neetesh.gupta95@gmail.com</li>
								<li><span>Phone </span>7415836066</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6">
						<figure class="hero-image">
							<%= image_tag "hero.jpg" %>
						</figure>
					</div>
					<div class="hero-info">
							<h2>Skills</h2>
							<ul>
								<li><span>Languages: <span> Ruby, Python, PHP, SQL, Java</li>
								<li><span>Control System: <span> Git, Svn </li>
								<li><span>Framework: <span> Rails(3.x, 4.x), Sinatra, Shopify, ActiveAdmin, ActiveRecord, Sinatra, Cucumber, Django, Flask</li>
								<li><span>TestFramework: <span> Rspec, Selenium, Cucumber </li>
								<li><span>Cloud: <span> AWS, Heroku, DigitalOcean, Linode, Rackspace, google cloud </li>
								<li><span>FrontEnd: <span> ReactJs, NodeJs, Angular, Ember, Javascript, Html, Jquery, CSS </li>
								<li><span>Database: <span> Postgres, MongoDB, Mysql </li>
								<li><span>Platform: <span> Linux(Redhat,Centos,Ubuntu), MacOs, Windows </li>								
								<li><span>FrontEndFramework: <span> Liquid, Scss, Sass, Slim, Haml </li>
								<li><span>PackageManager: <span> Webpack, Npm, Yarn </li>
								<li><span>PaymentGateway: <span> Stripe, Braintree, Paypal </li>
								<li><span>Editor: <span> Sublime, Atom, VisualStudio </li>
							</ul>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Hero section end -->

<!-- Social links section start -->
<!-- <div class="social-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-10 offset-xl-1">
				<div class="social-link-warp">
					<div class="social-links">
						<a href="https://www.linkedin.com/in/neetesh-gupta-15b45ab2" target="_blank"><i class="fa fa-linkedin"></i></a>
						<a href="https://www.facebook.com/neeteshgupta95" target="_blank"><i class="fa fa-facebook"></i></a>
						<a href="https://www.instagram.com/neetesh_gupta95" target="_blank"><i class="fa fa-instagram"></i></a>
						<a href="https://plus.google.com/+NeeteshGupta95" target="_blank"><i class="fa fa-google-plus"></i></a>
					</div>
					<h2 class="hidden-md hidden-sm">My Social Profiles</h2>
				</div>
			</div>
		</div>
	</div>
</div>	 -->
<!-- Social links section end -->

<!-- Resume section start -->
<section class="resume-section spad">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-7 offset-xl-2">
				<div class="section-title">
					<h2>Work Experience</h2>
				</div>
				<ul class="resume-list">
					<li>
						<h2>2017-2018</h2>
						<h3><a href="https://www.throughouttechnologies.com/" target="_blank">Throughout Technologies PVT. LTD.</a></h3>
						<h4>Ruby On Rails Developer</h4>
						<p>Well-trained and skilled Ruby on Rails Developer with vast experience in web development. Client satisfaction is first priority.</p>
					</li>
					<li>
						<h2>2018-Present</h2>
						<h3><a href="http://www.systango.com" target="_blank">Systango Technologies PVT. LTD.</a></h3>
						<h4>Ruby On Rails Developer</h4>
						<p>Extremly well-trained and skilled Shopify/Sinatra Expert along with Devops technology for a variety of corporate clients.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- Resume section end -->

<!-- Portfolio section start -->
<section class="portfolio-section spad pb-0">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-4 col-md-8 offset-xl-2 ">
				<div class="section-title">
					<h2>Projects</h2>
				</div>
			</div>
			<!-- <div class="col-md-4 text-md-right">
				<a href="#" class="site-btn mb-5">See All Portfolio</a>
			</div> -->
		</div>
		<div class="portfolio-warp">
			<div class="row">
				<% @projects.each do |project| %>
					<div class="col-xl-3 col-lg-6 col-md-6">
						<div class="portfolio-item">
							<h2><a href="<%= project.url %>" target="_blank"><%= project.title %></a></h2>
							<p>Team Size: <%= project.team_size %></p>
							<p>Role: <%= project.role %></p>
							<p>Skills: 
								<% project.skills.each do |skill| %>
									<%= skill %>, 
								<% end %>
							</p>
							<hr>
							<p>Description: <%= project.description %></p>

							<!-- <a href="img/portfolio/1.jpg" class="set-bg port-pic" data-setbg="img/portfolio/1.jpg"></a> -->

						</div>
					</div>
				<% end %>
				<!-- <div class="col-xl-3 col-lg-6 col-md-6">
					<div class="portfolio-item">
						<a href="img/portfolio/2.jpg" class="set-bg port-pic" data-setbg="img/portfolio/2.jpg"></a>
						<h2>Partners4Housing</h2>
						<p>Graphic design</p>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-6">
					<div class="portfolio-item">
						<a href="img/portfolio/3.jpg" class="set-bg port-pic" data-setbg="img/portfolio/3.jpg"></a>
						<h2>Instagram Following</h2>
						<p>Graphic design</p>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-6">
					<div class="portfolio-item">
						<a href="img/portfolio/4.jpg" class="set-bg port-pic" data-setbg="img/portfolio/4.jpg"></a>
						<h2>InfoVera</h2>
						<p>Graphic design</p>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</section>
<!-- Portfolio section end -->


<!-- Resume section start -->
<section class="resume-section with-bg spad">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-7 offset-xl-2">
				<div class="section-title">
					<h2>Education</h2>
				</div>
				<ul class="resume-list">
					<li>
						<h2>2013-2017</h2>
						<h3>Bachelor of Engineering<span class="grade">(CGPA: 7.00)</span></h3>
						<h4>Shri Vaishnav Institute of Technology and Science</h4>
					</li>
					<li>
						<h2>2012</h2>
						<h3>12th Standard<span class="grade">(Percentage: 82.83)</span></h3>
						<h4>Vankhandeshwar Higher Secondary School, Dabra, Gwalior</h4>
					</li>
					<li>
						<h2>2010</h2>
						<h3>10th Standard<span class="grade">(Percentage: 76.66)</span></h3>
						<h4>Sita Central Convent School, Karera, Shivpuri</h4>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- Resume section end -->


<!-- Review section start -->
<!-- <section class="review-section spad pb-0">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-7 offset-xl-2">
				<div class="section-title">
					<h2>References</h2>
				</div>
				<div class="review-slider owl-carousel">
					<div class="single-review">
						<div class="qut">“</div>
						<p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
						<h3>Robert G. Smith</h3>
						<h4>Manager, Company</h4>
					</div>
					<div class="single-review">
						<div class="qut">“</div>
						<p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
						<h3>Robert G. Smith</h3>
						<h4>Manager, Company</h4>
					</div>
					<div class="single-review">
						<div class="qut">“</div>
						<p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
						<h3>Robert G. Smith</h3>
						<h4>Manager, Company</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->
<!-- Review section end -->

<!-- Extra section start -->
<section class="extra-section spad pb-0">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 offset-xl-2">
				<div class="section-title">
					<h2>Third Party Service</h2>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 pt-5">
						<div class="fact-box trans">
							<div class="fact-content">
								<div class="circle-progress">
									<div id="progress1" class="prog-circle"></div>
									<div class="progress-info">
										<h2>70%</h2>
									</div>
									<div class="prog-title">
										<h3>Elastic-Search</h3>
										<p>Intermediate</p>
									</div>			
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 pt-5">
						<div class="fact-box trans">
							<div class="fact-content">
								<div class="circle-progress">
									<div id="progress2" class="prog-circle"></div>
									<div class="progress-info">
										<h2>80%</h2>
									</div>
									<div class="prog-title">
										<h3>Algolia-Search</h3>
										<p>Intemediate</p>
									</div>			
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="fact-box">
							<div class="fact-content">
								<%= image_tag "icon/1-w.png" %>
								<h2>4</h2>
								<p>Years of Experience</p>
							</div>
						</div>
					</div>
					<!-- <div class="col-lg-3 col-md-6">
						<div class="fact-box">
							<div class="fact-content">
								<%#= image_tag "icon/2-w.png" %>
								<h2>9</h2>
								<p>Awards Won</p>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Extra section end -->

<!-- Contact section start -->
<!-- <section class="contact-section spad">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 offset-xl-2">
				<div class="section-title">
					<h2>Contact Me</h2>
				</div>
				<form class="contact-form">
					<div class="row">
						<div class="col-md-6">
							<input type="text" placeholder="Name">
						</div>
						<div class="col-md-6">
							<input type="text" placeholder="E-mail">
						</div>
						<div class="col-md-12">
							<input type="text" placeholder="Subject">
							<textarea placeholder="Message"></textarea>
						</div>
					</div>
					<div class="text-md-right">
						<button class="site-btn">Send message</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section> -->
<!-- Contact section end